<div class="container">
  <div class="row">
    <div class="col-12">
        <span class="text-success h6" *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
      <div class="table-responsive white">
        
        <table id="example" class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>number</th>
              <th>Email</th>
              <th>Course Interested</th>
              <th>Qualification</th>
              <th>Year of passing</th>
              <th>City</th>
              <th>edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let student of students">
                  <td>{{ student.id }}</td>
                  <td>{{ student.username }}</td>
                  <td>{{ student.number }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.course_interested }}</td>
                  <td>{{ student.qualification }}</td>
                  <td>{{ student.passing_year }}</td>
                  <td>{{ student.city }}</td>
                  <td><button [routerLink]="['/student-edit', student.id]" >Update</button></td>
                  <td><button (click)="deleteStudent(student.id)">Delete</button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
